
{{ 'component-hero-section.css' | asset_url | stylesheet_tag }}

<div id="container1" class="hero-section {{ section.id }} color-{{ section.settings.color_scheme }}" style="background-color: {{ section.settings.color}};">
  <div
    class="page-width wrapper__content hero-section__grid grid grid--gapless grid--1-col grid--1-col-tablet {% if section.settings.layout == 'text_first' %} hero-section__grid--reverse{% endif %}">

    <div class="media_content_wrapper">


      <div class="media_content_container {% if section.settings.image == blank %}hero-section__media--placeholder placeholder{% endif %}">
        
        {%- if section.settings.image != blank -%}
        <img srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
              {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | img_url: '1070x' }} 1070w,{%- endif -%}
              {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
          src="{{ section.settings.image | img_url: '1500x' }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
          alt="{{ section.settings.image.alt | escape }}" loading="lazy" width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}" class="hero-image" id="animate2">
        {%- else -%}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}

        <div class="hero_section_content">

          {%- if section.settings.banner_title != blank -%}
           <h2 class="h1">{{ section.settings.banner_title }}</h2>
          {%- endif-%}
          
          {%- if section.settings.banner_text != blank -%}
            <p class="p">
              {{ section.settings.banner_text }}
            </p>
          {%- endif-%}

          {%- if section.settings.button_label != blank -%}
            <a class="button  {% if section.settings.button_type == 'button--primary' %} button--primary {% elsif section.settings.button_type == 'button--secondary' %} button--secondary {% elsif section.settings.button_type == 'button--tertiary' %} button--tertiary {% endif %} page-section__button" {% if section.settings.button_link == blank %}
              aria-disabled="true" role="link" {% else %} href="{{ section.settings.button_link }}" {% endif %}>
              {{ section.settings.button_label | escape }}
            </a>
          {%- endif-%}
      </div>  

      </div>
    </div>
  </div>
</div>

<style>
  .hero_section_content { 
    margin-top: {{ section.settings.content_top_position_mobile }}%; 
  }

  @media screen and (min-width: 950px) {
    .hero_section_content { 
      margin-top: {{ section.settings.content_top_position }}%; 
    }
  }
</style>

{% schema %}
{
  "name": "Hero Section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "color",
      "id": "color",
      "default": "#fff",
      "label": "t:sections.banner-and-story.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.banner-and-story.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.banner-and-story.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.banner-and-story.settings.height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.banner-and-story.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.banner-and-story.settings.height.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.banner-and-story.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.banner-and-story.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.banner-and-story.settings.layout.label",
      "info": "t:sections.banner-and-story.settings.layout.info"
    },
    {
      "type": "header",
      "content": "Banner content"
    },
    {
      "type": "range",
      "id": "content_top_position",
      "label": "Content top position",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "range",
      "id": "content_top_position_mobile",
      "label": "Content top position on mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 20
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner title"
    },
    {
      "type": "text",
      "id": "banner_text",
      "label": "Banner text"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "select",
      "id": "button_type",
      "options": [
        {
          "value": "button--primary",
          "label": "Primary button"
        },
        {
          "value": "button--secondary",
          "label": "Button secondary"
        },
        {
          "value": "button--tertiary",
          "label": "Button tertiary"
        }
      ],
      "default": "button--primary",
      "label": "Primary button"
    } 
  ]
}
{% endschema %}

