<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text-lined.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text-lined.css' | asset_url | stylesheet_tag }}</noscript>

<div class=" page-width banner-and-story__grid grid grid--gapless ">
  <div class="wrapper__1440">
    
    <div class="desk-row__mobile-col empty-margin__{{ section.id }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}

        {%- when 'text' -%}
          <div class="col-2_3">
            <hr class="vertical_line_{{ section.id }}">
            {% style %}
              hr.vertical_line_{{ section.id }} {
                position: absolute;
                border-left: solid 2px;
                width: 0;
                height: calc(100% + {{ section.settings.vertical_line_height }}px);
                border-color: {{ section.settings.line_color }}; 
                right: {{ section.settings.vertical_line_margin_right }}%;
                margin-top: {{ section.settings.vertical_line_top_position }}px;
              }
              @media screen and (max-width: 950px) {
                hr.vertical_line_{{ section.id }} {
                  left: 44px;
                  height: 200px;
                  
                  margin-top: {{ section.settings.vertical_line_top_position_mobile }}px;
              }
            {% endstyle %}
            
              <div class="rich-text-lined__text__{{ section.id }}  rte" {{ block.shopify_attributes }}>
                {{ block.settings.text }}
              </div>
            
              {% style %}
                .rich-text-lined__text__{{ section.id }} {
                  margin-top: {{ section.settings.rich-text-lined__margin-top }}px;
                }
                @media screen and (max-width: 950px) {
                  .rich-text-lined__text__{{ section.id }} {
                    margin-top: {{ section.settings.rich-text-lined__margin-top-mobile }}px;
                    margin-left: 50px;
                    margin-right: 50px;
                  }
                }
              {% endstyle %}
          </div>

        {%- when 'heading' -%}
          <div class="col-1_3">  
            <h2 class="{{ block.settings.heading_size }} rich-text-lined__title__{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>

            {% style %}
              .rich-text-lined__title__{{ block.id }} {
                {% if block.settings.title-align == "right" %} 
                  text-align: right;
                  padding-left: 5%;
                  {% elsif block.settings.title-align == "left" %}
                  text-align: left;
                  padding-right: 5%;
                {% endif %}
              }

              @media screen and (max-width: 750px) {
                .rich-text-lined__title__{{ block.id }} {
                  order: 1;
                }
              }
            {% endstyle %}

          </div>

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  window.addEventListener("load", function() {
    let sectionID = '{{ section.id }}';
    let box = document.querySelector('.rich-text-lined__text__'+sectionID);
    let heightBox = box.clientHeight;
    let line = document.getElementsByClassName('vertical_line_' + sectionID)[0];

    function screen_resize() {
    var h = parseInt(window.innerHeight);
    var w = parseInt(window.innerWidth);

    if (w <= 950) {
        let heightOptionMobile = '{{ section.settings.vertical_line_height_mobile }}'
        line.style.height = Number(heightBox) + Number(heightOptionMobile) + 'px';
        } else {
          let heightOptionDesktop = '{{ section.settings.vertical_line_height }}'
          line.style.height = Number(heightBox) + Number(heightOptionDesktop) + 'px';
        }
    }
    screen_resize() 
  });
</script>

{% style %}
  .empty-margin__{{ section.id }} {
    margin-top: {{ section.settings.section-padding-top }}%;
  }
  @media screen and (max-width: 750px) {
    .empty-margin__{{ section.id }} {
      margin-top: {{ section.settings.section-padding-top-mobile }}%;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Title vertical line",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "range",
      "id": "section-padding-top",
      "label": "Section top position on desktop",
      "min": 0,
      "max": 300,
      "step": 3,
      "default": 0
    },
    {
      "type": "range",
      "id": "section-padding-top-mobile",
      "label": "Section top position on mobile",
      "min": 0,
      "max": 500,
      "step": 5,
      "default": 200
    },
    {
      "type": "range",
      "id": "rich-text-lined__margin-top",
      "label": "Text block top position on desktop",
      "min": 0,
      "max": 400,
      "step": 4,
      "default": 240
    },
    {
      "type": "range",
      "id": "rich-text-lined__margin-top-mobile",
      "label": "Text block top position on mobile",
      "min": 0,
      "max": 300,
      "step": 3,
      "default": 0
    },
    {
      "type": "color",
      "id": "line_color",
      "default": "#BCA495",
      "label": "Lines color",
      "info": "Choose the lines color"
    },
    {
      "type": "range",
      "id": "vertical_line_height",
      "default": "0",
      "label": "Vertical line height on destop",
      "info": "This option for change vertical line height",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 34
    },
    {
      "type": "range",
      "id": "vertical_line_top_position",
      "default": "0",
      "label": "Vertical line top position",
      "info": "This option for move vertical line up",
      "min": 0,
      "max":  600,
      "step": 6,
      "default": 420
    },
    {
      "type": "range",
      "id": "vertical_line_margin_right",
      "default": "0",
      "label": "Vertical line horizontal position",
      "info": "This option for change vertical line horizontal position",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10
    },
    {
      "type": "range",
      "id": "vertical_line_height_mobile",
      "default": "0",
      "label": "Vertical line height on mobile",
      "info": "This option for change vertical line height for mobile devices",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 100
    },
    {
      "type": "range",
      "id": "vertical_line_top_position_mobile",
      "default": "0",
      "label": "Vertical line top position on mobile",
      "info": "This option for move vertical line up",
      "min": 0,
      "max":  500,
      "step": 5,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        },
          {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "title-align",
          "options": [
            {
              "value": "left",
              "label": "Align left"
            },
            {
              "value": "right",
              "label": "Align right"
            }
          ],
          "default": "left",
          "label": "Align title"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Title vertical line.",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}





