<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text-lined.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text-lined.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width banner-and-story__grid grid grid--gapless">
  <div class="wrapper__1440">

    <div class="desk-row__mobile-col empty-margin__{{ section.id }}">
      {%- for block in section.blocks -%}
      {%- case block.type -%}

      {%- when 'heading' -%}
      <div class="col-1_3 align-right">
        <h2 class="{{ block.settings.heading_size }} rich-text-lined__right-title" {{ block.shopify_attributes }}>{{
          block.settings.heading | escape }}</h2>

      </div>

      {%- when 'text' -%}
      <div class="col-2_3 align-left">
        <div class="rich-text-lined__text__{{ block.id }}  rte" {{ block.shopify_attributes }}>{{ block.settings.text }}
        </div>
        {% style %}
        .rich-text-lined__text__{{ block.id }} {
        margin-top: {{ section.settings.rich-text-lined__margin-top }}px;
        }
        @media screen and (max-width: 750px) {
        .rich-text-lined__text__{{ block.id }} {
        margin-top: {{ section.settings.rich-text-lined__margin-top-mobile }}px;
        }
        }
        {% endstyle %}


        <hr class="horizontal_line_{{ block.id }}">
        {% style %}
        hr.horizontal_line_{{ block.id }} {
        border-bottom: solid 2px;
        width: 25%;
        height: 2px;
        border-color: {{ section.settings.line_color }};
        position: absolute;
        right: 0;
        margin-top: {{ section.settings.horizontal_line_top_position }}px;
        }
        @media screen and (max-width: 950px) {
        hr.horizontal_line_{{ block.id }} {
        margin-top: {{ section.settings.horizontal_line_top_position_mobile }}px;
        width: 50px;
        }
        {% endstyle %}
      </div>

       <!-- Here is blog article section start  -->
       {%- when 'featured_posts' -%}
       {%- if block.settings.article_1 != blank -%}
       <div class=" mini__item mini__item--posts mini-blog-{{ block.id }}" id="block-{{ block.id }}" {{
         block.shopify_attributes }}>
         <div class="mini__post-list">
           {%- assign show_placeholder = true -%}
           {%- for i in (1..5) -%}
           {%- assign article_option = 'article_' | append: i -%}
           {%- assign article = articles[block.settings[article_option]] -%}
           {%- unless article.empty? -%}
           <div class="mini__post-item">
             {%- if article.image -%}
             <div class="mini__post-image-wrapper">
               <img src="{{ article.image | img_url: '100x80', crop: 'center', scale: 2 }}"
                 alt="{{ article.image.alt | escape }}" class="mini__post-image">
             </div>
             {%- endif -%}
             <div class="mini__post-info">
               <h3 class="mini__post-title">{{ article.title }}</h3>
               <p class="mini__post-text">{{- article.content | strip_html | truncate: 50 -}}</p>
               <a class="mini__post-link" href="{{ article.url }}">Read more &#8594;</a>
             </div>
           </div>
           {%- assign show_placeholder = false -%}
           {%- endunless -%}
           {%- endfor -%}
         </div>
         {% style %}
         .mini__item.mini__item--posts.mini-blog-{{ block.id }} {
         margin-top: 0;
         margin-bottom: 40px;
         margin-left: auto;
         margin-right: auto;
         order: 3;
         }

         @media screen and (min-width: 950px) {
         .mini__item.mini__item--posts.mini-blog-{{ block.id }} {
         margin-left: 0;
         margin-right: auto;
         padding-top: 0;
         }
         }

         @media screen and (min-width: 1900px) {
         .mini__item.mini__item--posts.mini-blog-{{ block.id }} {
         margin-left: 0;
         margin-right: auto;
         padding-top: 0;
         }
         }
         {% endstyle %}
       </div>
       {% endif %}
       <!-- Here is article finish -->

      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% style %}
.empty-margin__{{ section.id }} {
margin-top: {{ section.settings.section-padding-top }}%;
}
@media screen and (max-width: 750px) {
.empty-margin__{{ section.id }} {
margin-top: {{ section.settings.section-padding-top-mobile }}%;
}
}
{% endstyle %}


{% schema %}
{
  "name": "Rich text with line right",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "range",
      "id": "section-padding-top",
      "label": "Section top position on desktop",
      "min": 0,
      "max": 300,
      "step": 3,
      "default": 0
    },
    {
      "type": "range",
      "id": "section-padding-top-mobile",
      "label": "Section top position on mobile",
      "min": 0,
      "max": 500,
      "step": 5,
      "default": 200
    },
    {
      "type": "range",
      "id": "rich-text-lined__margin-top",
      "label": "Text block top position on desktop",
      "min": 0,
      "max": 300,
      "step": 3,
      "default": 30
    },
    {
      "type": "range",
      "id": "rich-text-lined__margin-top-mobile",
      "label": "Text block top position on mobile",
      "min": 0,
      "max": 300,
      "step": 3,
      "default": 30
    },
    {
      "type": "color",
      "id": "line_color",
      "default": "#000",
      "label": "Lines color",
      "info": "Choose the lines color"
    },
    {
      "type": "range",
      "id": "horizontal_line_top_position",
      "default": "0",
      "label": "Horizontal line top position desktop",
      "info": "This option for move line line down",
      "min": 0,
      "max": 600,
      "step": 6,
      "default": 240
    },
    {
      "type": "range",
      "id": "horizontal_line_top_position_mobile",
      "default": "0",
      "label": "Horizontal line top position on mobile",
      "info": "This option for move line line down on mobile",
      "min": -300,
      "max": 300,
      "step": 6,
      "default": -120
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.rich-text.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.rich-text.blocks.heading.settings.heading_size.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Title"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "featured_posts",
      "name": "Blog posts",
      "limit": 1,
      "settings": [
        {
          "type": "article",
          "id": "article_1",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text with line right",
      "blocks": [
        {
          "type": "text"
        },  
        {
          "type": "heading"
        },
        {
          "type": "featured_posts"
        }
      ]
    }
  ]
}
{% endschema %}

